<div class="flex">
    <button (click)="openPDF()">Download PDF</button>
</div>
<div class="align">
    <div id="content" class="resume" *ngFor="let value of store;">
        <div>
            <h1>{{value.fullname}}</h1>
            <p>{{value.professional}}</p>
            <p>{{value.phoneno}}</p>
            <p>{{value.email}}</p>
            <p>{{value.address}}</p>
        </div>
        <hr>
        <div>
            <h3>Profile Summary :</h3>
            <p class="padding">{{value.profilesummary}}</p>

            <h3>Work Experience :</h3>
            <ul>
                <li>{{value.workexperience}}</li>
                <li>{{value.workexperiencecompany}}</li>
                <li>{{value.workexperienceproject}}</li>
                <li>{{value.workexperience0}}</li>
                <li>{{value.workexperiencecompany0}}</li>
                <li>{{value.workexperienceproject0}}</li>
                <li>{{value.workexperience1}}</li>
                <li>{{value.workexperiencecompany1}}</li>
                <li>{{value.workexperienceproject1}}</li>
                <li>{{value.workexperience2}}</li>
                <li>{{value.workexperiencecompany2}}</li>
                <li>{{value.workexperienceproject2}}</li>
            </ul>
            <h3>Education :</h3>
            <ul>
                <h3>{{value.educationname}}</h3>
                <li>{{value.educationyear}}</li>
                <li>{{value.educationdescription}}</li>
                <h3>{{value.educationname0}}</h3>
                <li>{{value.educationyear0}}</li>
                <li>{{value.educationdescription0}}</li>
                <h3>{{value.educationname1}}</h3>
                <li>{{value.educationyear1}}</li>
                <li>{{value.educationdescription1}}</li>
            
            </ul>

            <h3>Expertise :</h3>
            <p class="padding">{{value.expertise}}</p>
        </div>
        <div class="section">
            <div class="skills">
                <h3>Skills :</h3>
                
                    <p class="pb">{{value.skills}}</p>
                    <p class="pb">{{value.skills0}}</p>
                    <p class="pb">{{value.skills1}}</p>
                    <p>{{value.skills2}}</p>
                
            </div>
            <div class="skills">
                <h3>Interests :</h3>

                    <p class="pb">{{value.interests}}</p>
                    <p class="pb">{{value.interests0}}</p>
                    <p class="pb">{{value.interests1}}</p>
                    <p class="pb">{{value.interests2}}</p>
                    <p class="pb">{{value.interests3}}</p>
                    <p>{{value.interests2}}</p>

            </div>
            <div class="skills">
                <h3>SocialLinks :</h3>

                    <p class="pb">{{value.sociallinks}}</p>
                    <p class="pb">{{value.sociallinks0}}</p>
                    <p class="pb">{{value.sociallinks1}}</p>
                    <p class="pb">{{value.sociallinks2}}</p>
                    <p class="pb">{{value.sociallinks3}}</p>
                    <p>{{value.sociallinks4}}</p>

            </div>
            <div class="skills">
                <h3>Languages :</h3>
                
                    <p class="pb">{{value.languages}}</p>
                    <p class="pb">{{value.languages0}}</p>
                    <p class="pb">{{value.languages1}}</p>
                    <p class="pb">{{value.languages2}}</p>

               
            </div>
        </div>
    </div>
    
</div>
